Projekt grupowy/Projekt grupowy/Debug/
Projekt grupowy/Debug/
Projekt grupowy/Projekt grupowy.VC.db
Projekt grupowy/Projekt grupowy/Logs/
.sonarqube/
Projekt grupowy/Projekt grupowy/x64/
Projekt grupowy/Projekt grupowy/bw-output/
sonarqube_cmd.txt
Projekt grupowy/Projekt grupowy.VC.VC.opendb
Projekt grupowy/Projekt grupowy/Release/
Projekt grupowy/.vs/Projekt grupowy/v15/ipch/
Projekt grupowy/.vs/Projekt grupowy/v15/Browse.VC.db
